NODE_ENV=production
ELERA=0
PORT=8080
MARIADB_HOST=127.0.0.1
MARIADB_PORT=3306
MARIADB_USER=healthcheck
MARIADB_PASSWORD=
MARIADB_DATABASE=mysql
ELERA_QUERY_TIMEOUT_MS=5000
ELERA_CLUSTER_NAME=local-elera
ELERA_CLUSTER_ADDRESS=gcomm://
ELERA_BOOTSTRAP=false
ELERA_NODE_NAME=elera
ELERA_NODE_ADDRESS=127.0.0.1
ROOT_TOKEN=root_token_here
